<footer class="mastfoot mt-auto">
<div class="inner">
    <p>
        Free and open source software created by
        <a href="https://github.com/rtyler">R. Tyler Croy</a>
        <br/>
        Template and design based on examples created by
        <a href="https://twitter.com/mdo">@mdo</a>.
    </p>
</div>
</footer>
