      <header class="masthead">
        <div class="inner">
          <h3 class="masthead-brand">Dot dot vote</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/about">About</a>
            <a class="ml-3 btn btn-secondary" href="/new">Create</a>
          </nav>
        </div>
      </header>

