<!doctype html>
<html lang="en">
  <head>
    {{> _head }}
    <title>Dot dot vote</title>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      {{> _header}}
      <div class="mb-auto"></div>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Simple dot-voting</h1>
        <p class="lead">
        <strong>Dot dot vote</strong> provides quick and anonymous <a
                href="https://en.wikipedia.org/wiki/Dot-voting"
                target="_blank">dot-voting</a> for you and your team.
            <br/>
            <br/>
            No logins, no cruft, just dots.
            <br/>
        </p>
        <p class="lead">
          <a href="/new" class="btn btn-lg btn-secondary">Create dot-voting poll</a>
        </p>
      </main>

      {{> _footer}}

    </div>
  </body>
</html>

